.container{
    height: 4px;
    width:25vw;
    background-color: aquamarine;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:20px;
    overflow: hidden;
}
.body{
   width:100vw;
   height:200vh;
   overflow: hidden;
}
.bg-container{
  background: #5D4157;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #A8CABA, #5D4157);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #A8CABA, #5D4157); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
    display: flex;
     flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:20px;
    overflow: hidden;
}
.button{
    height:4vh;
    width:5vw;
}
  .navbar{
    background-color: #d9a7c7;
    margin:0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .navlinks{
    margin:0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .button-design{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 2rem;
  }
  .nav-text{
    font-size: 30px;
    padding: 10px;
    list-style-type: none;
  }
  .bg-container{
    height:100vh;
    width:100vw;
  }
.container1{
    background: #E6DADA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #274046, #E6DADA);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #274046, #E6DADA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
        height:45vh;
        width:25vw;
        text-align: center;
        margin:none;
        outline: none;
        padding:5px;
        border-radius: 16px;
        display: flex;
        justify-content: center; /* Center horizontally */
        align-items: center; 
}
.input_style{
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-direction: row;
    padding:0.5rem;
    border:none;
    outline:none;
    height: 4vh;
    background-color: white;
    width:23vw;
    border-bottom: 3px solid transparent;
    border-radius: 10px;
    margin: 12px;
}
.input_style:focus{
    border-bottom: 0px solid rgb(215, 215, 73);
}
.button{
  background: #757F9A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #D7DDE8, #757F9A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #D7DDE8, #757F9A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  
    border-radius: 10px;
    font-size: 20px;
    height:5vh;
    padding:10px;
    width:10vw;
    border:none;
    outline:none;
}
