.container{
    height:20vh;
    width:20vw;
    background-color: aquamarine;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:20px;
}
.body{
   background-image:"https://www.google.com/url?sa=i&url=https%3A%2F%2Fstocksnap.io%2Fsearch%2Ffood&psig=AOvVaw0Gks_ktRT3BE6FTRgaATz8&ust=1702458802175000&source=images&cd=vfe&ved=0CBIQjRxqFwoTCPDKwLTHiYMDFQAAAAAdAAAAABAE";
   background-size: cover;
   width:100vw;
   height:100vh;
}
.bg-container{
    display: flex;
     flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:20px;
}
button {
    margin: 12px;
    height: 50px;
    width: 120px;
    border-radius: 10px;
    background: #333;
    justify-content: center;
    align-items: center;
    box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #444, inset -5px -5px 10px #222;
    font-family: 'Damion', cursive;
    border: none;
    font-size: 16px;
    color: rgb(161, 161, 161);
    transition: 500ms;
  }
  
  button:hover {
    box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #222, inset -5px -5px 10px #444;
    color: #d6d6d6;
    transition: 500ms;
  }
  .navbar{
    height:3rem;
    width:100vw;
    margin:0;
    display: flex;
    flex-direction: row;
  }
  .navlinks{
    margin:0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .nav-text{
    font-size: 30px;
    padding: 10px;
    list-style-type: none;
  }