.navigation{
    background: #544a7d;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ffd452, #544a7d);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ffd452, #544a7d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-size: cover;
    height: 5rem;
    width:100vw;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 2rem;
    text-decoration: none;
    text-decoration-line: none;
    position:sticky;
    top:0;
    left:0;
}
.navbar{
    display:flex;
    flex-direction: row;
    text-decoration: none;
    justify-content: flex-end;
    text-decoration-line: none;
    list-style-type: none;
    color:rgb(12, 11, 11);
  
}
.text{
    text-decoration: none;
    text-decoration-line: none;
    font-style: normal;
    font-display: none;
    padding:10px;
    color: black;
}